<section class="standard-form longer-labels scrollable">
  <fieldset>
    <legend>{{localize 'coc-pdf-importer.Settings.Name'}}</legend>
    <div class="form-group">
      <label>{{localize 'coc-pdf-importer.Form.Upload'}}</label>
      <p class="hint">{{localize 'coc-pdf-importer.Settings.Hint'}}</p>
      <input type="file" id="file-upload" name="files" multiple />
      </div>
    </div>
  </fieldset>
</section>